<!--begin core-->
script(type='text/javascript', src='/assets/js/lib/foundation/foundation.min.js')
script(type='text/javascript', src='/assets/js/lib/foundation/foundation5/foundation.topbar.js')
script(type='text/javascript', src='/assets/js/lib/backbone/1.2.3/backbone.js')
script(type='text/javascript', src='/assets/js/lib/backbone.marionette/2.4.3/backbone.marionette.min.js')
script(type='text/javascript', src='/assets/js/lib/backbone/backbone.modelbinder/1.1.0/backbone.modelbinder.js')
<!--core end-->