div.footer
	div.row
		div.medium-4.columns
			p.copyright: small Copyright &copy; Andrew Corliss 2015
			ul
			//-	li Link 1
			//- li Link 2
			//-	li Link 3
		div.medium-6.columns
			ul
				li: span.icon.icon-facebook2.padding-15-sides.disabled
				li: a(href='https://twitter.com/#!/buglrpodcast', target='_blank'): span.icon.icon-twitter.padding-15-sides
				li: a(href='mailto:wearebuglers@gmail.com'): span.icon.icon-mail2.padding-15-sides
				li: span.icon.icon-feed2.padding-15-sides.disabled
				li: a(href='https://www.github.com/corliosity/theHorn', target='_blank'): span.icon.icon-github4.padding-15-sides