div.column.contain-to-grid.footer
	div.row
		div.medium-4.columns
			ul
				li Link 1
				li Link 2
				li Link 3
		div.medium-4.columns
			ul
				li Something Here
		div.medium-4.columns
			p Links to social