//- Will load these templates async in future.  For now to get them working just do it here
script(type='text/template', id='home-view')
	div#titleView.contain-to-grid.margin-15-bottom
	div.row
		div.medium-8.columns.right-content#mainRegion
		div.medium-4.columns#latestPod

script(type='text/template', id='home-content-view')
	h2 Brief Description
	p In the year of 2015 without the guidance of Bugle Overloads on a consisten basis a small group banded together and created their own podcase
	p This is that podcast.  This is that Group.  This is...really no one is reading this now, go listen, and come back for more.

script(type='text/tmeplate', id='podcast-view')
		div.columns.margin-10
			h4
				span.icon.icon-podcast.padding-10-sides
				<%- title %>
			p <%- description %>

script(type='type/template', id='player-view')
	<% var myDate = new Date(updated).toUTCString(); %>
	h5 <%- title %>
	p <%- description %>
	div.row
		audio(controls).columns
			source(src!="<%- episodeuri %>", type='audio/mpeg')
	small Released: <%- myDate %>

script(type='text/template', id='title-view')
	h1#title.row.padding-5-sides <%- title %>