include jsapp-templates.jade
<!--begin jsapp-->
script(type='text/javascript', src='/assets/js/app/app-config.js')

script(type='text/javascript', src='/assets/js/app/views/mainView.js')
script(type='text/javascript', src='/assets/js/app/views/titleView.js')
script(type='text/javascript', src='/assets/js/app/views/homeView.js')
script(type='text/javascript', src='/assets/js/app/views/player.js')
script(type='text/javascript', src='/assets/js/app/views/episodeView.js')
script(type='text/javascript', src='/assets/js/app/views/episodesList.js')

script(type='text/javascript', src='/assets/js/app/models/applicationState.js')
script(type='text/javascript', src='/assets/js/app/models/episode.js')
script(type='text/javascript', src='/assets/js/app/collections/episodes.js')

script(type='text/javascript', src='/assets/js/app/controller.js')
script(type='text/javascript', src='/assets/js/app/router.js')
script(type='text/javascript', src='/assets/js/app/app.js')
<!--jsapp end-->