doctype html
html(lang="en")
	head
		block headContent
		title!= title
		link(href='/assets/css/main.css', rel='stylesheet')
		include startup.jade
	body
		include nav.jade
		block bodyContent
		include footer.jade
		include core.jade
		script(type='text/javascript').
			$(document).ready(function() {
				$(document).foundation();
				});
