extends ./templates/layout.jade

block bodyContent
	div.title-row.contain-to-grid.margin-15-bottom.columns
		h1.row.padding-5-sides Want to talk?
	div.columns.main
		div.row
			div.medium-8.columns.right-content
				div
					p Well we are working on getting this up.  For now contact us at 
						a(href='mailto:wearebuglers@gmail.com') wearebuglers@gmail.com
					span.or
					p Stalk us on twitter
						a(href='https://twitter.com/#!/buglrpodcast') @buglrpodcast
				h3 Having Issues?
				div
					p Our web developer is working on continually enhancing this site.
					p Give us time and we are sure to address it.
	include ./templates/concat/core.jade